In [15]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("spark-nb") \
    .master("spark://spark-master:7077") \
    .enableHiveSupport() \
    .getOrCreate()

In [16]:
# spark.sql("SHOW TABLES IN local_db").show()

In [17]:
# spark.sql(f"DROP TABLE IF EXISTS local_db.daily_topfive_taxi_zone")

In [18]:
# spark.sql("SHOW TABLES IN local_db").show()

In [19]:
daily_topfive_df = spark.sql("SELECT * FROM local_db.daily_topfive_taxi_zone")

In [20]:
daily_topfive_df.toPandas()

   taxi_zone_id  rank        calculated_at
0            74     1  2024-12-30 03:04:01
1            75     2  2024-12-30 03:04:01
2            95     3  2024-12-30 03:04:01
3           166     4  2024-12-30 03:04:01
4            43     5  2024-12-30 03:04:01

In [22]:
result_path = "s3a://spark-warehouse/raw_data/save_from_notebook"
daily_topfive_df.coalesce(1).write \
    .format("csv") \
    .option("header", "true") \
    .mode("overwrite") \
    .save(result_path)

In [23]:
spark.stop()